bin

obj

/Delta.Wsq/*.opensdf
/Delta.Wsq/*.sdf
/Delta.Wsq/*.suo
*.suo
*.user
/Delta.CapiNet/build/*.dll
/Delta.CapiNet/build
/Delta.CertXplorer/src/Delta.CertXplorer/Plugins/*.dll
/Delta.CertXplorer/src/Delta.CertXplorer/Plugins/*.dll
/Delta.CertXplorer/src/Delta.CertXplorer/Plugins/*.dll
/Delta.CertXplorer/src/Delta.CertXplorer/Plugins/*.dll
