<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Delta.ImageRenameTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Delta.ImageRenameTool.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>*.jpeg;*.jpg</value>
            </setting>
            <setting name="EnableImagePreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitHorizontal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitterRatio" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FirstIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IndexPaddingCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EnableAutoRotatePreview" serializeAs="String">
                <value>True</value>
            </setting>
        </Delta.ImageRenameTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
